<!DOCTYPE html>
<html lang="es">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div class="space-medium">
            <div class="container">
                    <div class="plan-content">
                        <h2>{{ .Title }}</h2>
                        <p>{{ .Content }}</p>

                        <ul>
                          {{ $type := .Type }}
                          {{ range $key, $value := .Data.Terms.Alphabetical }}
                              {{ $name := .Name }}
                              {{ $count := .Count }}
                              {{ with $.Site.GetPage (printf "/%s/%s" $type $name) }}
                                  <li><a href="{{ .Permalink }}">{{ $name }}</a> {{ $count }}</li>
                              {{ end }}
                          {{ end }}
                      </ul>

                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    </div>   
            </div>
        </div>
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>