<div class="footer">
    <div class="container">
        <div class="row">
            <!-- about-us -->
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="footer-widget">
                    <div class="ft-logo mb40"><img src="./images/ft-logo.png" alt=""></div>
                </div>
            </div>
            <!-- /.about us -->
            <!-- footer-hosting-services-links -->
            <div class=" col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="footer-widget">
                    <h3 class="footer-title">Hosting Plans</h3>
                    <ul class="angle angle-right">
                        <li><a href="#">linux hosting</a></li>
                        <li><a href="#">web hosting</a></li>
                        <li><a href="#">virtual private servers</a></li>
                        <li><a href="#">cloud hosting</a></li>
                        <li><a href="#">window hosting</a></li>
                        <li><a href="#">wordpress hosting</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.footer-hosting-services-links -->
            <!-- footer-useful links -->
            <div class=" col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <div class="footer-widget">
                    <h3 class="footer-title">Quick Links</h3>
                    <ul class="angle angle-right">
                        <li><a href="#">home</a></li>
                        <li><a href="#">hosting services</a></li>
                        <li><a href="#">hosting plans</a></li>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">blog</a></li>
                        <li><a href="#">contact us</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.footer-useful links -->
            <!-- footer-useful links -->
            <div class=" col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="footer-widget">
                    <h3 class="footer-title">Signup Newsletter
</h3>
                    <div class="newsletter-section">
                        <!-- Text input-->
                        <form>
                            <div class="newsletter-form">
                                <input type="text" class="form-control mb20" placeholder="Search Here">
                                <button type="Submit" class="btn btn-primary btn-xs">subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.footer-useful links -->
        </div>
    </div>
    <!-- tiny-footer -->
    <div class="container">
        <div class="row">
            <div class="tiny-footer">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <p class="tiny-footer-para">Copyright © All Rights Reserved 2020.  Template Design by
                        <a href="https://easetemplate.com/" target="_blank" class="copyrightlink">EaseTemplate</a></p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="tiny-section-social">
                        <div class="">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /. tiny-footer -->
    </div>
</div>
<!-- /.footer -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js" type="text/javascript"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/menumaker.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/jquery.sticky.js"></script>
<script type="text/javascript" src="/js/sticky-header.js"></script>
<script type="text/javascript" src="/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/js/multiple-carousel.js"></script>