<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <div class="support-bar">
                    <ul>
                        <li class=" hidden-xs"><span><i class="icon-support"></i></span><span>support</span></li>
                        <li class="hidden-xs hidden-sm"><span><i class="icon-speech-bubble-with-ellipsis"></i></span><span>live chat</span></li>
                        <li class=" hidden-xs"><span><i class="icon-round-chat-bubbles"></i></span><span>customer reviews</span></li>
                        <li><span>24/7 Connect:<strong> 180.123.4567</strong></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.top-bar -->
<!-- header-section-->
<div class="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!-- navigations-->
                <div class="navigation">
                    <div id="navigation">
                        <ul>
                            <li class="active"><a href="index.html">Home</a></li>

                            <li class="has-sub"><a href="blog-default.html">Blog</a>
                                <ul>
                                    <li><a href="blog-default.html">Blog Default</a></li>
                                    <li><a href="blog-single.html">Blog Single</a></li>
                                </ul>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                <!-- /.navigations-->
            </div>
        </div>
    </div>
</div>
<!-- /. header-section-->