<!DOCTYPE html>
<html lang="en">
    {{- partial "head.html" . -}}
<body>
    <!-- top-bar -->
    {{- partial "header.html" . -}}
    <!-- slider-start -->
    <div class="slider">
        <div class="owl-carousel owl-one owl-theme">
            <div class="item">
                <div class="slider-img"> <img src="/images/slider-1.jpg" alt=""></div>
            </div>
            <div class="item">
                <div class="slider-img"><img src="./images/slider-2.jpg" alt=""></div>

            </div>
            <div class="item">
                <div class="slider-img"><img src="./images/slider-3.jpg" alt=""></div>
            </div>
        </div>
    </div>
    <!-- /.slider -->
    <!-- plan-section -->
    <div class="space-medium">
        <div class="container">
            <div class="row">
                <div class="plan-content">
                    <h2>Choose your hosting plans</h2>
                    <p>Erat consequat porta tellus nec lacinia lacus</p>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                </div>
            </div>

        </div>
    </div>

    <!-- /.cta -->
    <!-- footer -->
    {{- partial "footer.html" . -}}
</body>

</html>