<!DOCTYPE html>
<html lang="en">
    {{- partial "head.html" . -}}
<body>
    <!-- top-bar -->
    {{- partial "header.html" . -}}
    <!-- slider-start -->
    <div class="slider">
        <div class="owl-carousel owl-one owl-theme">
            <div class="item">
                <div class="slider-img"> <img src="/images/slider-1.jpg" alt=""></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="slider-captions">
                                <h1 class="slider-title">Free responsive hosting Website template</h1>
                                <p class="slider-text hidden-sm hidden-xs">Etiam volutpat nisi vitae justo aliquamnec malesuad lorem.
                                </p>
                                <a href="#" class="btn btn-primary btn-lg hidden-sm hidden-xs">get template</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slider-img"><img src="./images/slider-2.jpg" alt=""></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12">
                            <div class="slider-captions">
                                <h1 class="slider-title">Free hosting 
Website template</h1>
                                <p class="slider-text hidden-sm hidden-xs">Donecs qud sem condimentum, efficitur justo et, fermentum.</p>
                                <a href="#" class="btn btn-primary btn-lg hidden-sm hidden-xs">download template</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slider-img"><img src="./images/slider-3.jpg" alt=""></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6  col-xs-12">
                            <div class="slider-captions">
                                <h1 class="slider-title">Download free Website template</h1>
                                <p class="slider-text hidden-sm hidden-xs">Cras auctor ultrices viverronec urna felis blanditnec bland venenatis. </p>
                                <a href="#" class="btn btn-primary btn-lg hidden-sm hidden-xs">get it now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.slider -->
    <!-- plan-section -->
    <div class="space-medium">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title">
                        <h2>Choose your hosting plans</h2>
                        <p>Amet tempor odio sed vehicula ornare libero vivamus</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- plan -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="plan-block">
                        <div class="plan-head">
                            <div class="plan-icon"><i class="icon-024-folder"></i></div>
                            <div class="plan-head-text">
                                <h3 class="plan-head-text-title"><a href="#">Web Hosting</a></h3>
                                <p class="plan-head-text-small">starting at</p>
                                <h3 class="plan-price">$99/<sub>mo</sub></h3>
                            </div>
                        </div>
                        <div class="plan-content">
                            <p>Erat consequat porta tellus nec lacinia lacus</p>
                            <a href="#" class="btn btn-default">get started</a>
                        </div>
                    </div>
                </div>
                <!-- /.plan -->
                <!-- plan -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="plan-block">
                        <div class="plan-head">
                            <div class="plan-icon"><i class="icon-016-browser-3"></i></div>
                            <div class="plan-head-text">
                                <h3 class="plan-head-text-title"><a href="#">Reseller Hosting</a></h3>
                                <p class="plan-head-text-small">starting at</p>
                                <h3 class="plan-price">$199/mo</h3>
                            </div>
                        </div>
                        <div class="plan-content">
                            <p>Erat consequat porta tellus nec lacinia lacus</p>
                            <a href="#" class="btn btn-default">get started</a>
                        </div>
                    </div>
                </div>
                <!--/.plan -->
                <!-- plan -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="plan-block">
                        <div class="plan-head">
                            <div class="plan-icon"><i class="icon-028-employee"></i></div>
                            <div class="plan-head-text">
                                <h3 class="plan-head-text-title"><a href="#">VPS Hosting</a></h3>
                                <p class="plan-head-text-small">starting at</p>
                                <h3 class="plan-price">$299/mo</h3>
                            </div>
                        </div>
                        <div class="plan-content">
                            <p>Erat consequat porta tellus nec lacinia lacus</p>
                            <a href="#" class="btn btn-default">get started</a>
                        </div>
                    </div>
                </div>
                <!-- /.plan -->
                <!-- plan -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="plan-block">
                        <div class="plan-head">
                            <div class="plan-icon"><i class="icon-023-24-hours"></i></div>
                            <div class="plan-head-text">
                                <h3 class="plan-head-text-title"><a href="#">Window Hosting</a></h3>
                                <p class="plan-head-text-small">starting at</p>
                                <h3 class="plan-price">$399/mo</h3>
                            </div>
                        </div>
                        <p>Erat consequat porta tellus nec lacinia lacus</p>
                        <a href="#" class="btn btn-default">get started</a>
                    </div>
                </div>
                <!-- /.plan -->
            </div>
        </div>
    </div>
    <!-- /.plan-section -->
    <!-- feature-section -->
    <div class="space-medium bg-light">
        <div class="container">
            <div class="row">
                <div class=" col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                    <div class="section-title">
                        <h2>Why choose Webhost?</h2>
                        <p class="lead">Consectetur mi curabitur hendrerit fringilla enim a accumsan turpis aliquam fringilla nulla hendrerit leo eget suscipit rhoncus sed eros ipsum consequat ac orci a semper interdum elit</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="feature feature-center">
                        <div class="feature-icon feature-circle"><i class="icon-24-hours-open"></i></div>
                        <div class="feature-content">
                            <h4>24/7/365 support</h4>
                            <p>Tristique non nunc non ultricies enimsan doloullam dapibus.</p>
                        </div>
                    </div>
                </div>
                <!-- feature -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="feature feature-center">
                        <div class="feature-icon feature-circle"><i class="icon-cloud"></i></div>
                        <div class="feature-content">
                            <h4>99.9% uptime</h4>
                            <p>Eleifend etiam scelerisque tortor sed loremoreet turpis.</p>
                        </div>
                    </div>
                </div>
                <!-- /.feature -->
                <!-- feature -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="feature feature-center">
                        <div class="feature-icon feature-circle"><i class="icon-chip"></i></div>
                        <div class="feature-content">
                            <h4>Latest tecnologies</h4>
                            <p>Ultricies enim ut a accumsan dolor nullam dapibus rhoncus.</p>
                        </div>
                    </div>
                </div>
                <!-- /.feature -->
                <!-- feature -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="feature feature-center">
                        <div class="feature-icon feature-circle"><i class="icon-3d"></i></div>
                        <div class="feature-content">
                            <h4>Most stable platform</h4>
                            <p>Scelerisque tortor sed porta ultrices risus nunc laoreet turpis</p>
                        </div>
                    </div>
                    <!-- /.feature -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><a href="#" class="btn btn-primary">more about us</a></div>
            </div>
        </div>
    </div>
    <!-- /.feature-section -->
    <!-- testimonials -->
    <div class="space-medium">
        <div class="container">
            <div class="row">
                <!-- section-title-1 -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title">
                        <h2>Our customers love us!</h2>
                        <p>We are rated 4.00 / 5.00 (based on 100 Webhost Reviews)</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="testimonials-carousel">
                    <div class="owl-carousel owl-two owl-theme">
                        <!-- testimonials -->
                        <div class="item">
                            <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                                <div class="testimonial-block">
                                    <div class="testimonial-content">
                                        <div class="star-rating">
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                        </div>
                                        <p>“Nulla quis nisi mollis elementum anteer one tu consectetur mauris sitaeros seronlaoet one esea inare one diameselementum ante nondigiser one sroty esmallis elementum ante nondigiser one turpisnsectetur mauris”</p>
                                    </div>
                                    <div class="testimonial-user-block">
                                        <div class="testimonial-img">
                                            <img src="./images/testi-img-1.jpg" alt="" class="img-responsive">
                                        </div>
                                        <div class="testimonial-meta">
                                            <h5 class="testimonial-title">Frederick Barber</h5>
                                            <span class="testimonial-url-text">(www.customersite.com)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.testimonials -->
                        <!-- testimonials -->
                        <div class="item">
                            <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                                <div class="testimonial-block">
                                    <div class="testimonial-content">
                                        <div class="star-rating">
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                        </div>
                                        <p>“Serulla quis nisi mollis elementum ante nondigiser one tu seronlaoet one esea inare oneollis elementum ante nondigiser one sroty esmallis diamesem”
                                        </p>
                                    </div>
                                    <div class="testimonial-user-block">
                                        <div class="testimonial-img">
                                            <img src="./images/testi-img-2.jpg" alt="" class="img-responsive">
                                        </div>
                                        <div class="testimonial-meta">
                                            <h5 class="testimonial-title">RachelCisneros</h5>
                                            <span class="testimonial-url-text">(www.customersite.com)</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.testimonials -->
                        <!-- testimonials -->
                        <div class="item">
                            <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                                <div class="testimonial-block">
                                    <div class="testimonial-content">
                                        <div class="star-rating">
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                            <span><i class="fa fa-star"></i></span>
                                        </div>
                                        <p>“Mauris aliquam ipsum utdui malesuada condimentum ullam feugiat sodales arcueu molestie urna vestibulum id onecbibendum nisla condimen ultrices dolor”</p>
                                    </div>
                                    <div class="testimonial-user-block">
                                        <div class="testimonial-img">
                                            <img src="./images/testi-img-3.jpg" alt="" class="img-responsive">
                                        </div>
                                        <div class="testimonial-meta">
                                            <h5 class="testimonial-title">Joyce Richardson</h5>
                                            <span class="testimonial-url-text">(www.customersite.com)</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.testimonials -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.testimonials -->
    <!-- cta -->
    <div class="cta-wrapper">
        <div class="container">
            <div class="row">
                <div class="cta-section">
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                        <span class="cta-small-text">starting at</span>
                        <h2 class="plan-price">$199/mo</h2>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs">
                        <div class="vertical-line"></div>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12">
                        <h1>pre footer simple strip call to action</h1></div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 mt10"><a href="#" class="btn btn-primary">get started</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.cta -->
    <!-- footer -->
    {{- partial "footer.html" . -}}
</body>

</html>